
/* ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
    
}

body{
    background-color: #000;
    height: 100vh;
}

.Interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
    margin-top: 60px;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;

}

h2.titulo{
    color: #FFF;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00FF08;
    
}
/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .Interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7D7D7D;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #FFFF;
    transform: scale(1.05);
    
    
}


header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}



.btn-contato button:haver{
    box-shadow: 0px 0px 8px #f8f8f8;
    
}

/* ESTILO DO TOPO SO SITE */
section.topo-do-site{
    padding: 40px 4%;

}

section.topo-do-site .flex{
    align-items: center;
    align-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #ffff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #00FF08;
}
.topo-do-site .txt-topo-site p{
    color: #ffff;
    margin: 40px 0;
}

/* ESTILO DAS ESPECEALIDADES */

section.especialidade .flex {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
    gap: 10px;
    align-items: center; /* Centraliza os elementos verticalmente */
  }
  
  .especialidade .especialidade-box {
    color: #FFF;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    text-align: center; /* Centraliza o texto horizontalmente */
    width: calc(33.33% - 20px); /* Define a largura para aproximadamente 1/3 da largura do contêiner pai */
  }
  
  
  .especialidade .especialidade-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #FFF;
}

.especialidade .flex img {
    max-width: 100%; /* Defina o tamanho máximo como 100% da largura do contêiner pai */
    height: auto; /* A altura será ajustada automaticamente para manter a proporção original */
}
  


    
.especialidade .especialidade-box h3{
    font-size: 28px ;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre-mim{
    padding: 80px 4%;

}

section.sobre-mim .flex{
    align-items: center;
    gap: 60px ;
}

.sobre-mim .txt-sobre{
    color: #FFF;

}

.sobre-mim .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre-mim .txt-sobre h2 span{
    color: #00FF08;
    display: block;
}

.sobre-mim .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.btn-social img  {
    width: 60px; /* Defina a largura desejada para o botão */
    height: 60px; /* Defina a altura desejada para o botão */
    border-radius: 50%; /* Isso cria um círculo perfeito */
    background-color: #ffffff; /* Cor de fundo do botão */
    line-height: 100px; /* Centraliza o texto horizontalmente */
    border: none; /* Remove a borda */
    margin: 10px; /* Adicione margem para espaçamento entre os botões */

    
}
  
.btn-social :hover img {
    transform: scale(1.2); /* Aumenta a imagem quando o botão é hover */
    box-shadow: 0 0 8px #FFF;
    transition: .2s;
 
}
/* ESTILO PORTOFÓLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex{
    justify-content: space-around;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;


}

.img-port:hover{
    background-position: 100% 100%;    
    
}

/* ESTILO FORMULÁRIO DE CONTATO */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #202020;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #FFF;
    font-size: 18px;

}

form textarea{
    resize: none;
    max-height: 200px;
    
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}


.btn-enviar input:hover{
    transform: scale(1.05); /* Aumenta a imagem quando o botão é hover */
    box-shadow: 0 0 8px #FFF;
    transition: .2s;
 
}

/* ESTILO DO RODAPE */

footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
    flex-direction: initial;
    

}

footer .line-footer{
    padding: 20px 0;
    border-bottom: 2px #00FF08;

}

footer .line-footer p img{
    
    width: 60px; /* Defina a largura desejada para o botão */
    height: 60px; /* Defina a altura desejada para o botão */
    border-radius: 50%; /* Isso cria um círculo perfeito */
    background-color: #ffffff; /* Cor de fundo do botão */
    line-height: 100px; /* Centraliza o texto horizontalmente */
    border: none; /* Remove a borda */
    margin: 10px; /* Adicione margem para espaçamento entre os botões */
    display: block; /* Remove espaços verticais extras */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */

}

footer .line-footer p a {
    color: #FFF;
    
}

/* Responsividade */
    
    
@media screen and (max-width: 1020px){
    
    /* CLASSES GERAIS */
    .flex{ 
        flex-direction: column;

    }

    section.topo-do-site .flex{ 
        flex-direction: column-reverse;
        gap: 40px;

    }
    
    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }  

    /* TOPO DO SITE */

    section.topo-do-site{
        padding: 20px 8%;
    
    }
    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .Interface img{
        width: 100%;
    }

    
 }

